<%= form_for authentication_scope, url: login_path, html: { class: "login-form" } do |f| %>
  <header class="auth-header">
    <%= hook("auth.login.heading") do %>
      <h1><%= trestle_auth_title %></h1>
    <% end %>
  </header>


  <% if flash[:error] %>
  <%= puts flash[:error] %>
   <script type="text/javascript">
      <% flash.each do |f| %>
    <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
   	 toastr['<%= type %>']('<%= f[1] %>');
   <% end %>
   </script>
<% end %>

  <%= render "form", f: f %>
<% end %>
